body{
  padding: 0 450px;
  background-image: linear-gradient(to left, pink , lightsalmon);
  font-family: "Helvetica", san-serif;
}

header{
  margin-bottom: 5%;
}


nav{
  text-align: center;
}

nav a{
  margin: 1px 35px 0 0;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

nav a:hover{
  color: lightsalmon;
  background-color: rgba(0, 0, 0, 0.7);
}

.active{
  color: lightsalmon;
  background: rgba(0, 0, 0, 0.7);
}

p{
  text-indent: 50px;
}

.row{
  text-align: center;
  display: block;
}

.column {
  float: left;
  width: 48%;
  margin: 0 1%;
}
