body{
  padding: 0 6%;
  background-image: linear-gradient(to left, pink , lightsalmon);
  font-family: "Helvetica", san-serif;
}

header{
  margin-bottom: 5%;
}

.nav-bar{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li{
  display: inline;
}

nav a{
  text-decoration: none;
  display: inline-block;
  margin: 1px 10px;
  padding: 10px 5px ;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 18px;
}

nav a:link, nav a:visited{
  color: navy;
    background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

nav a:hover{
  color: dodgerblue;
  background-color: whitesmoke;
}

.par-1{
width: 50%;
display: inline-block;
}

.cat-1{
  float:right;
  width: 50%;
}

.cat-pic-1{
  width: 60%;
  margin:7% 0 5% 5%;
  border-radius: 2%;
  border: 7px solid rgba(0, 0, 0, 0.2);
}
